*{
    padding: 0;
    margin: 0;
    outline: solid 1px red;
}
.container{
    display: flex;
    padding: 50px 150px;
}
/* Columnas principales */
.column-container{
    height: 700px;
    flex:1;
}

.cuadro1{
    background-color: aqua;
    height: 200px;
    margin: 20px;
    width: 310px;
}

.cuadro2{
    background-color: blue;
    height: 50px;
    width: 310px;
    margin: 20px;
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.cuadro3{
    background-color: cornflowerblue;
    height: 370px;
    margin: 20px;
    width: 170px;
}

.cuadro4{
    background-color: darkcyan;
    margin: 20px;
    height: 120px;
    width: 120px;
    display: flex;
}

.cuadro5{
    background-color: midnightblue;
    margin: 20px;
    height: 120px;
    width: 120px;

}

.cuadro6{
    background-color: darkseagreen;
    margin: 20px;
    height: 120px;
    width: 200px;
}

.cuadro7{
    background-color: lightseagreen;
    margin: 20px;
    height: 120px;
    width: 200px;
}

/*aqui abajo ira la parte2*/