.body{
    margin: 0%;
    padding: 0%;
}

.pagina{
    display: flex;
    flex-direction: column;
    margin: auto;
}

nav{
    background-color: #000000;
    color: aliceblue;
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding: 5px;
}

.your-feed{
    text-align: center;
}

.James{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px auto;
    border: 4px solid #000000;
}

section{
    width: 430px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px auto;
    border: 4px solid #000000;
}

.like{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button{
    background-color: rgb(241, 193, 34);
    border-color: #000000;
    border-width: 3px;
    margin: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
    box-shadow: 4px 4px 0 #000;
}