*{
    margin: 0;
    padding: 0;
}

body{
    font-family:  "Comic Sans MS", cursive, sans-serif;
}

/*la parte de arriba*/
.top{}

.nav-container{
    background-color: #9fc5f8;
    padding: 2px 0;
    color: white;
    display: flex;
    justify-content: space-between;
}

.nav-container h1{
    margin-left: 200px; /*tamaño de la pagina*/
    margin-top: 20px;
}

.nav-container ul{
    list-style: none;
    display: flex;
    padding: 25px;
    margin-right: 200px; /*tamaño de la pagina*/
    text-decoration: none; /*no logra eliminar el subrayado*/
    list-style-type: none; /*no logra eliminar el subrayado*/
}

.nav-container li{
    margin-right: 50px;
    font-size: 20px;
    text-decoration: underline; /*no logra eliminar el subrayado*/
    cursor: pointer;
}

.section-temperaura{
    padding: 5px 8px;
    border-radius: 5px;
    border: 1px solid #aaa;
    font-size: 14px;
    cursor: pointer;
}


/*el lugar y grados*/
/*tamaño de la pagina*/
.banner{
    margin-left: 200px;
    margin-right: 200px;
}

.main{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    box-shadow: 0 2px rgba(0, 0, 0, 1);
    padding: 20px;
}

.show{      /*show temperature*/
    display: flex;
    align-items: center;
    gap: 20px;
}

section-temperatura{
    font-size: 20px;
    padding: 5px;
}

/*tarjetas de clima*/
/*tamaño de la pagina*/
.cards{
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    justify-content: space-between;
}

.card{
    background-color: #eeeeee;
    margin: 10px;
    padding: 50px;
    border-radius: 10px;
}

img{
    width: 110px;
    height: 110px;
    border-radius: 100px;
    margin: 10px;
}