* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

body {
    background-color: #edf0f2;
}

nav {
    padding: 20px 0; 
    display: flex;
    background-color: #2c3e50;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    list-style: none; 
    padding: 0;
}

li {
    margin: 0 15px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    padding: 5px;
    background-color: #3798dc;
    border: none;
    border-radius: 5px;
    color: #ffffff;
}

/* boton con borde */
.Ver {
    background-color: #ffffff;
    border-color: #449fde;
    border-radius: 5px;
    border: 2px solid #449fde;
    color: #449fde;
}

.container {
    background-color: #8ec28c;
}

.solicitud {
    background-color: #a9a5cc;
}

.conexiones {
    background-color: #b68585;
}