* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

nav {
    padding: 10px 0; 
    display: flex;
    background-color: #0e91b9;
}

ul {
    display: flex;
    list-style: none; 
    padding: 0;
}

li {
    margin: 0 15px;
}

a {
    text-decoration: none;
    color: rgb(25, 58, 119);
    cursor: pointer;
    font-weight: bold;
}

a:hover {
    color: aquamarine;
}

.operacion{
    padding: 50px;
}

button{
    padding: 10px;
    margin: 10px;
    background-color: aqua;
    color: rgb(25, 58, 119);
    border: none;
    border-radius: 30px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}