*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    outline: solid; /*borde de todos los elementos para verlos mejor*/
}

body{}

/*top bar*/
.top{
    width: 80%;
    margin: 0 auto; /*centrar*/
    background-color: rgb(51,51,51);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    gap: 20px;
    border-top: 20px solid rgb(153,0,255);
}

/*top navigation*/
/*contenedor*/
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto; /*centrar*/
    padding: 20px;
}

.nav-container h1{
    color: white;
}

.nav-container input{
    padding: 10px;
    border-radius: 5px;
    border-bottom: solid 5px rgb(0, 0, 0);
    border-style: solid;
    width: 300px;
}

/*boton*/
.nav-container button{
    padding: 8px 15px;
    background-color: rgb(153,0,255);
    color: white;
    border-color: black;
    border-bottom: solid 5px rgb(0, 0, 0);  /*borde boton*/
    border-style: solid;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
}

/*otro contenedor*/
/*video principal*/
.placeholder{
    width: 80%;
    margin: 0 auto; /*centrar*/
    margin-top: 20px;
    border: solid 5px rgb(0, 0, 0);  /*borde video*/
    border-radius: 10px;
}

/*video info*/
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    width: 80%;
    margin: 0 auto; /*centrar*/
}